@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(36, 35, 35);
    color: white;
    margin: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    
}

.bloco{
    font-weight: 200px;
    background-color: #CA7900;
    width: 950px;
    height: 200px;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    border: 0;
    margin-top: 120px;
}

.botao{
    font-style: bold;
    font-family: Raleway;
    font-weight: 700px;
    font-size: 25px;
    background-color: #CA7900;
    color: white;
    border-radius: 15px ;
    border: 6px white solid;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;

}

.imagem{
    position: absolute;
    top: 270px;
    width: 120px;
}

header{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #CA7900;
    color: white;
    align-items: center;
    
}

.container{
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.link{
    margin-top: 25px;
    text-decoration: none;
    color: white;
   
}

.carrinho{
    margin-left: 600px;
}

.nav1{
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
    text-align: center;
}

a:hover{
    color: rgb(62, 61, 60);
}

#textoEntrada{
    color: white;
    font-family: Raleway;
    font-size: 25px;
    position: absolute;
    bottom: 400px;
    top: 300px;
    right: 400px;
    
    text-align: center;
    
}

#btn{
    
    font-weight: 600px;
    font-size: 30px;
    width: 300px;
    height: 60px;
    background-color: #CA7900;
    color: white;
    font-family: Raleway;
    border-radius: 10px;
    border: 5px white solid;
    text-align: center;
    position: absolute;
    left: 600px;
    bottom: 150px;
    cursor: pointer;
}

span{
    position: relative;
    top: 20px;
    left: 40px;
    
    
}

.imagem2{
    position: absolute;
    top: 190px;
    width: 120px;
}